<%= form_with(model: @fonction) do |form| %>
  <div>
    <%= form.label :title, "Nom" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
