<h1>Liste des collaborateurs</h1>
<%= link_to 'Nouveau collaborateur', new_collaborateur_path %>

<%= search_form_for @q, url: collaborateurs_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :first_name_cont, "Prénom contient" %>
    <%= f.search_field :first_name_cont %>

    <%= f.label :last_name_cont, "Nom contient" %>
    <%= f.search_field :last_name_cont %>

    <%= f.label :email_cont, "Email contient" %>
    <%= f.search_field :email_cont %>

    <%= f.label :admin_eq, "Administrateur ?" %>
    <%= f.select :admin_eq, [["Oui", true], ["Non", false]], include_blank: "Tous" %>

    <%= f.submit "Rechercher" %>
    <%= link_to "Réinitialiser", collaborateurs_path, class: "button" %>
  </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @collaborateurs.each do |collaborateur| %>
    <tr>
      <td><%= collaborateur.first_name %></td>
      <td><%= collaborateur.last_name %></td>
      <td><%= collaborateur.email %></td>
      <td><%= collaborateur.admin? ? "Oui" : "Non" %></td>
      <td>
        <%= link_to "Voir", collaborateur_path(collaborateur) %> |
        <%= link_to "Modifier", edit_collaborateur_path(collaborateur) %> |
        <%= link_to "Supprimer", collaborateur_path(collaborateur),
                    method: :delete,
                    data: { confirm: "Confirmer ?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
