<h1>Liste des restaurants</h1>
<%= link_to 'Nouveau restaurant', new_restaurant_path %>

<%= search_form_for @q, url: restaurants_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :name_cont, "Nom du restaurant contient" %>
    <%= f.search_field :name_cont %>

    <%= f.label :city_cont, "Ville contient" %>
    <%= f.search_field :city_cont %>

    <%= f.submit "Rechercher" %>
    <%= link_to "Réinitialiser", restaurants_path %>
  </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.postal_code %></td>
      <td><%= restaurant.city %></td>
      <td><%= link_to 'Voir', restaurant_path(restaurant) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

