<!DOCTYPE html>
<html>
<head>
  <title>WACDO</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar py-4">
      <div class="position-sticky">
        <h5 class="px-3">Menu</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "Dashboard", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Affectations", affectations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Restaurants", restaurants_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Fonctions", fonctions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Collaborateurs", collaborateurs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_collaborateur_session_path, method: :delete, class: "nav-link text-danger" %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
